In [ ]:
import pandas as pd
import numpy as np

In [ ]:
Empleados=pd.read_csv("https://raw.githubusercontent.com/AlcidesOxa/datos/master/ejemplo.csv",sep=';',encoding="ISO-8859-1")
Empleados.head()

In [ ]:
cambio={'Años estudio':'Anios_estudio', 'Estado Civil':'Estado_civil', 'Satisfacción Trabajo':'Satisfaccion_trabajo', 'Fecha contrato':'Fecha_contrato'}
Empleados.rename(columns=cambio,inplace=True)
casosborrar=[3,5,8]
Empleados=Empleados.drop(casosborrar)
varborrar=['Faltas','Permisos']
Empleados=Empleados.drop(varborrar,axis=1)
varcategoricas=['Sexo','Estado_civil','Satisfaccion_trabajo']
Empleados[varcategoricas]=Empleados[varcategoricas].fillna('Desconocido')
Empleados[varcategoricas]=Empleados[varcategoricas].astype('category')
Empleados['Fecha_contrato']=pd.to_datetime(Empleados.Fecha_contrato)
orden_ec=Empleados.Estado_civil.cat.categories.values[[3,0,2,4,1]].tolist()
orden_st=Empleados.Satisfaccion_trabajo.cat.categories.values[[2,3,0,1]].tolist()
Empleados.Estado_civil=Empleados.Estado_civil.cat.reorder_categories(orden_ec)
Empleados.Satisfaccion_trabajo=Empleados.Satisfaccion_trabajo.cat.reorder_categories(orden_st)
Empleados['Satisfaccion_trabajo']=Empleados.Satisfaccion_trabajo.cat.rename_categories(
    ['Insatisfecho(a)','Neutral','Satisfecho(a)','Desconocido'])
Empleados['Experiencia_lab']=Empleados.Edad-Empleados.Anios_estudio-5
Empleados['Balance']=Empleados.Ingresos-Empleados.Gastos

Obtener las frecuencias absolutas y relativas de Satisfacción

In [ ]:
Empleados.Satisfaccion_trabajo.value_counts()

Insatisfecho(a)    9
Neutral            8
Satisfecho(a)      6
Desconocido        4
Name: Satisfaccion_trabajo, dtype: int64

In [ ]:
Empleados.Satisfaccion_trabajo.value_counts(normalize=True)

Insatisfecho(a)    0.333333
Neutral            0.296296
Satisfecho(a)      0.222222
Desconocido        0.148148
Name: Satisfaccion_trabajo, dtype: float64

Crear las Tablas cruzadas de sexo y satisfacción con frecuencias conjuntas absolutas, relativas, condicionales por fila y por columna

In [ ]:
pd.crosstab(Empleados.Sexo, Empleados.Satisfaccion_trabajo, margins=True, margins_name='Total')

Satisfaccion_trabajo  Insatisfecho(a)  Neutral  ...  Desconocido  Total
Sexo                                            ...
Hombre                              6        4  ...            3     16
Mujer                               3        4  ...            1     11
Total                               9        8  ...            4     27

[3 rows x 5 columns]

In [ ]:
pd.crosstab(Empleados.Sexo, Empleados.Satisfaccion_trabajo, margins=True, margins_name='Total', normalize=True)

Satisfaccion_trabajo  Insatisfecho(a)   Neutral  ...  Desconocido     Total
Sexo                                             ...
Hombre                       0.222222  0.148148  ...     0.111111  0.592593
Mujer                        0.111111  0.148148  ...     0.037037  0.407407
Total                        0.333333  0.296296  ...     0.148148  1.000000

[3 rows x 5 columns]

In [ ]:
pd.crosstab(Empleados.Sexo, Empleados.Satisfaccion_trabajo, margins=True, margins_name='Total', normalize='columns')

Satisfaccion_trabajo  Insatisfecho(a)  Neutral  ...  Desconocido     Total
Sexo                                            ...
Hombre                       0.666667      0.5  ...         0.75  0.592593
Mujer                        0.333333      0.5  ...         0.25  0.407407

[2 rows x 5 columns]

In [ ]:
pd.crosstab(Empleados.Sexo, Empleados.Satisfaccion_trabajo, margins=True, margins_name='Total', normalize='index')

Satisfaccion_trabajo  Insatisfecho(a)   Neutral  Satisfecho(a)  Desconocido
Sexo
Hombre                       0.375000  0.250000       0.187500     0.187500
Mujer                        0.272727  0.363636       0.272727     0.090909
Total                        0.333333  0.296296       0.222222     0.148148

Obtener el vector de medias de gastos, ingresos y balance

In [ ]:
varbls = ['Gastos', 'Ingresos', 'Balance']
Empleados[varbls].mean()

Gastos      6409.807692
Ingresos    7541.576923
Balance     1131.769231
dtype: float64

Obtener los vectores de deciles 1 3 5 7 y 9 de gastos, ingresos y balance

In [ ]:
decs = np.arange(1, 10, 2)/10
Empleados[varbls].quantile(decs)

     Gastos  Ingresos  Balance
0.1  3363.0    3303.5  -1317.0
0.3  5097.5    4099.0   -354.5
0.5  6117.5    7360.0    944.5
0.7  7900.0   10805.5   2568.5
0.9  9369.5   11848.5   3301.0

Obtener las desviaciones estándar de gastos, ingresos y balance

In [ ]:
Empleados[varbls].mean()

Gastos      6409.807692
Ingresos    7541.576923
Balance     1131.769231
dtype: float64

Obtener la matriz de correlaciones de gastos, ingresos y balance

In [ ]:
Empleados[varbls].corr()

            Gastos  Ingresos   Balance
Gastos    1.000000  0.879145  0.444497
Ingresos  0.879145  1.000000  0.817665
Balance   0.444497  0.817665  1.000000